{% extends "admin/base_site.html" %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    › <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst }}</a>
    › <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    › {% trans 'Import CSV' %}
  </div>
{% endblock breadcrumbs %}
{% block content %}
  <div id="content-main">
    <form action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <fieldset class="module aligned">
          <h2>{% trans 'Import CSV' %}</h2>
          <div class="form-row">
            <div class="help">
              <p>
                Upload a CSV file to import data. The CSV should have the following headers:
                cabin, unit, session, is_active
              </p>
            </div>
          </div>
          {% for field in form %}
            <div class="form-row">
              <div>
                <label class="required" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="help">{{ field.help_text }}</div>
                {% if field.errors %}{{ field.errors }}{% endif %}
              </div>
            </div>
          {% endfor %}
        </fieldset>
        <div class="submit-row">
          <input type="submit" value="{% trans 'Import' %}" class="default" />
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
